<h1><%= t "pages.password_reset.title" %></h1>
<p><%= t "pages.password_reset.instructions" %></p>
<%= link_to t("pages.password_reset.reset_link"), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t "pages.password_reset.expiration_notice" %></p>
<p><%= t "pages.password_reset.ignore_notice" %></p>
