<% provide :title, t("pages.signup.title") %>
<div class="container h-100 px-3 py-5">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-9 col-md-6 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body px-5 py-4">
          <h2 class="text-uppercase text-center mb-5"><%= t "pages.signup.title" %></h2>
          <%= form_for @user, url: signup_path do |f| %>
            <%= render "shared/error_messages", resource: @user %>
            <div class="form-outline mb-2">
              <%= f.label :name, class: "form-label fw-bold" %>
              <%= f.text_field :name, class: "form-control form-control-lg" %>
            </div>
            <div class="form-outline mb-2">
              <%= f.label :email, class: "form-label fw-bold" %>
              <%= f.email_field :email, class: "form-control form-control-lg" %>
            </div>
            <div class="form-outline mb-2">
              <%= f.label :password, class: "form-label fw-bold" %>
              <%= f.password_field :password, class: "form-control form-control-lg" %>
            </div>
            <div class="form-outline mb-2">
              <%= f.label :password_confirmation, class: "form-label fw-bold" %>
              <%= f.password_field :password_confirmation, class: "form-control form-control-lg" %>
            </div>
            <div class="d-flex justify-content-center my-4">
              <%= f.submit t("pages.signup.submit_btn"), class: "btn btn-success btn-block btn-lg gradient-custom-4 text-body" %>
            </div>
            <p class="text-center text-muted mt-5 mb-0"><%= t "pages.signup.account_question" %><a href="#!" class="fw-bold text-body"><u><%= t "pages.signup.login_here" %></u></a></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
